#macro(singleelement $sub $!i18nDdi)
    #foreach ($p in $sub.SubNodes)
      <tr>
         <td>$!p.Content</td>
         <td>$!sub.getAttribute('affiliation')</td>
         <td>$!sub.getAttribute('role')</td>
      </td>
    #end
#end
<h3 class="ddititle">
	$!node.Name
</h3>
<table class="doctable" border="1">
   <tr>
      <th>$!i18nDdi.name</th>
      <th>$!i18nDdi.affiliation</th>
      <th>$i18nDdi.role</th>
   </tr>
	#foreach ($sub in $!node.SubNodes)
			#singleelement($!sub $!i18nDdi)
	#end
</table>