##Set the search here
<div id="searchdivinsert" style="margin-left: 8px; display: none">$!i18n.searching</div>
<iframe id="searchit" name="hiddensearch" style="display: none; width: 0px; height: 0px"></iframe>