#parse ("doctype/doctypepage.vm")

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		#parse ("cache/cacheHeader.vm")

    <link href="$!{props.getSkinPath()}css/common.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div>This is search result</div>
  </body>
</html>