td.weightcontrols {
	width: 10%;
	padding: 0 10px;
}
div.area {
	overflow: auto;
    border: 1pt solid #cdcdcd;
    width: 250px;
}
div.weightarea {
	height: 100px;
}

div.otherarea {
	height: 150px;
}

div.selectedarea {
	height: 270px;
}

div.weightlink {
	cursor: pointer;
	padding: .3em;
	font-size: 10pt;
}

span.title {
	font-size: 11px;
}

div.weightheader {
	margin-top: 20px;
	font-weight: bold;
}

div.weightinfo {
}

div.weightinstructions {
	margin-top: 20px;
	background-color:#F6F6F6;
    border:1px solid #DDDDDD;
	padding: 8px;
	line-height:130%;
}

div.weightHeader {
	font-weight: bold;
	margin-bottom: 10px;
}