#if (!$!doprint)

<form method="GET" action="$!form_action" id="hiddenform">
	#foreach ($field in $hiddenform.getForm())
  <input type="hidden" name="$field.name" value="$field.value"/>
	#end
</form>
#parse( "cube/subsetiframe.vm" )
<form id="drop" action="$!form_action">
	#set ($counter = 0)
	#foreach ($select in $!analysis.getTableMenu().getCubeMenu())

		#if ( ($!analysis.getTableMenu().getHasMeasure() || $!analysis.getTableMenu().getHasTableOptions()) && ($counter == ($!analysis.getTableMenu().getCubeMenu().size() - 2) ))
			#set ($fieldclass = "lastmenu")
		#elseif ($!select.isMeasure)
			#set ($fieldclass = "measure")
		#else
			#set ($fieldclass = "default")
		#end
		#set ($counter = $counter + 1)
  <fieldset class="$!fieldclass">
		#if ($select.isLayer && $!analysis.getTableMenu().getSubMode() == 'table')
    <legend id="var$!select.code" title="$!i18n.canmovetotable" class="headlabel">$select.label
      <div class="headlabel" id="var$!{select.code}div" style="display:none; position: absolute; left: 0px; right:0px;">
					$select.label
      </div>
      <script type="text/javascript">
					makeDraggable('var$!{select.code}');
      </script>
    </legend>
        #elseif ($select.isLayer)
    <legend id="$!select.code" style="cursor: auto" class="headlabel">
					$select.label
    </legend>
		#else
    <legend>$select.label</legend>
		#end

		#if ($!select.IsDisabled)
			#set ($disabled = "disabled")
		#else
			#set ($disabled = "")
		#end

    <select $!disabled onChange="changeForm(this,'$!select.link','$!select.code',$!select.HasMap)">
			#if ($!disabled != 'disabled')
                #foreach ($option in $select.options)
                    #if ($option.selected)
      <option selected="$!option.selected" id="$!option.id" value="$!option.value">$!utils.escape($option.label)</option>
                    #else
      <option id="$!option.id" value="$!option.value">$!utils.escape($option.label)</option>
                    #end
                #end
            #else
      <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
            #end
    </select>
  </fieldset>
	#end

</form>

#end

#parse( "micro/tableinfo.vm" )

