#parse ("doctype/doctypepage.vm")

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
   <head>
      <title>$!i18n.print_graph_title</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      #parse ("cache/cacheHeader.vm")
      <link href="$!{props.getSkinPath()}css/cube.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
      <link href="$!{props.getSkinPath()}css/draganddrop.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
      <link href="$!{props.getSkinPath()}css/menu.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
      <link href="$!{props.getSkinPath()}css/common.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
      <link href="$!{props.getSkinPath()}css/documentation.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
      <link href="$!{props.getSkinPath()}css/spideroverrides.css?$!props.getTimestamp()" rel="stylesheet" type="text/css"/>
      <link href="$!{props.getSkinPath()}css/languagecss.jsp?$!props.getTimestamp()&language=$!currentlyActiveLanguageISO" rel="stylesheet" type="text/css"/>      

      <script type="text/javascript">
         var skinPath = '$!{props.getSkinPath()}';
      </script>

      <script type="text/javascript" src="skins/default/javascript/cube.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/bookmark.js?$!props.getTimestamp()"></script>

      <script type="text/javascript" src="skins/default/javascript/browserdetect.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/x.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/common.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/highlight.js?$!props.getTimestamp()"></script>

      <!-- YUI Dependencies -->
      <script type="text/javascript" src="skins/default/javascript/yui/yahoo-min.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/yui/dom-min.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/yui/event-min.js?$!props.getTimestamp()"></script>

      <!-- YUI Source file -->
      <script type="text/javascript" src="skins/default/javascript/yui/animation-min.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/yui/dragdrop-min.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/yui/container_core-min.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/yui/container-min.js?$!props.getTimestamp()"></script>
      <script type="text/javascript" src="skins/default/javascript/yui/logger.js?$!props.getTimestamp()"></script>
      <!-- YUI CSS -->
      <link rel="stylesheet" type="text/css" href="skins/default/css/yui/container.css?$!props.getTimestamp()"/>

      <!-- YUI CSS Subclassing-->
      <link rel="stylesheet" type="text/css" href="$!{props.getSkinPath()}css/containerspecials.css?$!props.getTimestamp()"/>

      <!--[if lte IE 6]>
      <link href="skins/default/css/fixed_ie.css?$!props.getTimestamp()" type="text/css" rel="stylesheet" media="screen" title="Fixed content" />
      <![endif]-->
      <!--[if lte IE 7]>
      <link href="skins/default/css/ie7_workarounds.css?$!props.getTimestamp()" type="text/css" rel="stylesheet" media="screen" />
      <![endif]-->
      <!--[if lte IE 6]>
      <link href="skins/default/css/ie6_workarounds.css?$!props.getTimestamp()" type="text/css" rel="stylesheet" media="screen" />
      <![endif]-->
      <script type="text/javascript">
      	 done=0;
         if (browser.isIE5x && !browser.isIE55) {
         document.write("<style type=\"text\/css\" media=\"screen\">div.header { position: absolute;} div.headerTree {position: absolute;} div#exploder {margin-top: 22px;}<\/style>");
         }

         ##Nulling out the setScrollableSize-function if no resize should take place
         #set($setScrollableSizeFunctionName = "doNothing()")
         #if($!props.doAutoResizeSpider())
           ##set($setScrollableSizeFunctionName = "setScrollableSize()")
         #end

         #if($!props.doAutoResizeSpider())
           window.onresize = function() {
             $!setScrollableSizeFunctionName;
           }
         #end
        document.onmousedown = doMouseDown;

        function doMouseDown(e) {
           $!setScrollableSizeFunctionName;
           removeSubsetBox(e);
         }


         function doNothing(){
          }
      </script>


   </head>
   #if ($!doprint)
   #set ($onload = "$!setScrollableSizeFunctionName;window.print()")
   #else
   #set ($onload = "$!setScrollableSizeFunctionName")
   #end
   <body onload="$!onload">
      #set ($hideimagetable = "true")
      #set ($hideimagegraph = "true")
      #set ($hideimagetimeline = "true")
      #set ($hideimagemap = "true")
      #set ($hideimageclear = "true")
      #parse( "menu/menu.vm" )
      <div class="mozview bodypadder" id="exploder">	 
         #parse( "toptitle.vm" )

         #parse( "loading.vm" )
         <div id="hidearea">
            #if ($!viewer.getIsLogin())
               #parse ("login/loginform.vm")
            #else
               #if ($!props.useNewMenus())
                  #parse( "dimensionchooser.vm" )
               #else
                  #parse( "cube/form.vm" )
               #end
            
            #if ($!graph.getIfToManyCells())
            <div class="errormessage">$utils.escape($!{graph.getIfToManyCells()})</div>
            #elseif ($!errormessage)
            <div class="errormessage">$utils.escape($!{errormessage})</div>
            #else
            <div id="diagram">
               #if(!$!doprint)
                  <form action="$!form_action" id="spiderlabelform">
                     #set ($pointlabels = "false")

                     #foreach ($field in $!hiddenform.getForm())
                        #if ($!field.name == 'pointlabels' && $!field.value == 'true')
                           #set ($pointlabels = "true")
                        #elseif ($!field.name != 'pointlabels' && $!field.name != 'axsislabels' )
                           <input type="hidden" value="$!field.value" name="$!field.name"/>
                        #end
                     #end

                     ##Show pointlabel-toggle on/off?
                     #if($!props.showSpiderPointLabelToggle())
                         <input type="checkbox" #if ($pointlabels == "true") checked="true" #end value="true"  name="pointlabels" id="points" onclick="submitform();" " />
                         <label for="points">Vis verdier</label>
                     #end
                  </form>
               #end
               #if ($!src)
               ##Remove when the new cube implementation comes
               <img src="$!src" usemap="#$!graph.getKey()"/>
               #elseif ($!multigraphs)
               <dl id="multigraphs">
                  #foreach ($image in $!multigraphs)
                  <dt>$!image.getLabel()</dt>
                  <dd>
                     <img src="$!image.getImage()" />
                  </dd>
                  #end
               </dl>
               #elseif ($!graphimage)
               <img src="$!graphimage" usemap="#$!graph.getKey()"  onclick="submitform()" />
               #else
               <img src="$!graph.getImage()" usemap="#$!graph.getKey()" onclick="togglelabelsandsubmitform()" />
               #end
            </div>
            <!-- The image map -->
            $!graph.getMap()
            <br/>
            #if ($!graph.getScalingError())
            <div class="errormessage">$utils.escape($!{graph.getScalingError()})</div>
            #end
            #end
            #parse( "copyright/copyright.vm" )
            #end
         </div>

         #if(!$!doprint)
            <div id="varnotes">
               #foreach ($note in $!graph.getVariableNotes())
                    <script type="text/javascript">
                      var myTooltip = new YAHOO.widget.Tooltip("$!note.getId()tip", { context:"$!note.getId()", text:"<h1>$note.getLabel()</h1>$!utils.escapeHtml($note.getText(), true)", showDelay:$!{props.getTooltipShowDelay()}, autodismissdelay:$!{props.getAutoDismissDelay()},iframe:false, constraintoviewport:true, preventoverlap:false } );
                    </script>
               #end
            </div>
         #end
         #parse( "help/help.vm" )
      </div>

      #if (!$!viewer.getIsLogin())
      #if ($!props.inlineMetaData() || $!props.inlineMetaDataPrint())
      #parse( "documentation/documentation2.vm" )
      #end
      #end
      <script language="javascript">
        var resizeTimeout;

      	function window_resized() {
      	   //Only resize if resize is enabled
      	   if(getResizeEnabled()){
               clearTimeout(resizeTimeout);
               resizeTimeout=setTimeout("resize_image()", 200);
            }
      	}

      	function resize_image() {
      		clearTimeout(resizeTimeout);
      		window.onresize = null;
      		submitform("res");
      	}

	      function togglelabelsandsubmitform(event) {
	        try{
            xGetElementById("points").checked=!xGetElementById("points").checked;
            submitform(event);
          }catch(exception){
            //Do nothing
          }
      	}

      	function submitform(event) {      	         	   
      	   
      	   var spiderform = xGetElementById("spiderlabelform");
      	   #if($!props.doAutoResizeSpider())
      	   if (event == "res") {
      	   	changed = 0;
      	   	x = xClientHeight();
      	   	y = xClientWidth(); 
      	   	for (i=0;i<spiderform.elements.length;i++) {
			if (spiderform[i].name == "page_height") {
				if (spiderform[i].value != x) {
					changed++;
					spiderform[i].value=x;
				}
				
			}
			if (spiderform[i].name == "page_width") {
				if (spiderform[i].value != y) {
					changed++;
					spiderform[i].value=y;
				}	
			}
		}
		if (changed < 1) return;
		
	   }
      	   #end
      	   
      	   hideTheViewArea();
           spiderform.submit();
      	}

      	function getCheckedValue(radioObj) {
		if(!radioObj) return "";
		var radioLength = radioObj.length;
		if(radioLength == undefined)
			if(radioObj.checked) return radioObj.value;
			else return "";
		for (var i = 0; i < radioLength; i++) {
			if (radioObj[i].checked) {
				return radioObj[i].value;

			}
		}
		return "";
	}

	function registerResizeEvent() {
     		window.onresize = window_resized;
   }

 #if($!props.doAutoResizeSpider())
    if (browser.isIE){
      setTimeout("registerResizeEvent()", 1000);
    }else{
      registerResizeEvent();
    }
  #end
	done=1;
      </script>

      <!--[if lte IE 7]>
        <script type="text/javascript">
          try{
        	  //xGetElementById("points").onclick=submitform;
        	 }catch(exception){
        	   //Do nothing
        	 }
      	</script>
      <![endif]-->
   </body>
</html>